body {
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center top;
	  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    overflow-wrap: break-word;
}

p {
    font-size: 1.3em;
    line-height: 1.6;
    color: #000;
	text-align: justify;
}

hr {
    border-color: #999999;
    max-width: 400px;
}

.brand,
.address-bar {
    display: none;
}


.navbar-brand {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
}

.navbar-nav {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
}

.img-full {
    min-width: 100%;
}

.brand-name {
    font-weight: 700;
    font-size: 1.3em;
    text-transform: capitalize;
    letter-spacing: normal;
}

.tagline-divider {
    margin: 15px auto 3px;
    border-color: #999999;
    max-width: 250px;
}


.index-img {
  width: 320px;
  height: 210px;
  display: inline-block;
  overflow: hidden;
  border: solid black 3px;
}
#poloshirts {
  width: 100%;
}
#banner {
  width: 100%;
  margin-top: -44px;
}
#logo {
  width: 320px;
  margin-left: -2px;
}
  
.box {
    background: #fff;
    background: rgba(255,255,255,0.9);
    margin-bottom: 20px;
    padding: 30px 15px;
    margin-left: 70px;
    margin-right: 70px;
}

.intro-text {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.7em;
    font-weight: 400;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {

    margin-right: 25px;
    clear: both;
}

.img-right{
    float: right;
    margin-left: 25px;
    clear: both;
}

footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    padding: 50px 0;
}

@media screen and (max-width: 768px) {
	.box img,
  .index-img {
		display: none;
	}
	
	.box {
		margin-left: 10px;
		margin-right: 10px;
	}

	p {
		font-size: 1.1em;
	}
	
	.intro-text {
		font-size: 1.3em;
	}
	
	.brand-name {
		font-size: 1.2em;
	}
	
	.photogallery {
		display: none !important;
	}
	
	.reasons {
		font-size: 1em !important;
	}
	
	iframe {
		display: none;
	}
	
	.nomobile {
		display: none;
	}
	
	.text-name {
		text-align: center;
	}
	
	ul {
		padding-left: 10px !important;
		padding-right: 10px !important;
		font-size: 1em !important;
	}

	h3 {
		font-size: 1.3em;
	}
  .dropdown-item {
    font-size: .5em;
  }
}

@media screen and (min-width: 768px) {
    .team-img {
      margin-top: auto;
    }
    .brand {
        display: inherit;
        font-weight: 700;
        font-size: 5em;
        line-height: normal;
        text-align: center;
        margin: 0;
        padding: 30px 0 10px;
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
		float: left;
        margin: 20px;
		
    }

    .img-right {
        float: right;
        margin: 20px;
    }

    .address-bar {
        display: inherit;
        text-align: center;
        margin: 0;
        padding: 0 0 40px;
        font-size: 1.25em;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 400;
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-default {
        background: #fff;
        background: rgba(255, 255, 255, 0.9);
        border: none;
    }

    .navbar-nav > li > a {
        line-height: normal;
    }

    .navbar-nav {
        float: none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        font-size: 1.25em;
    }

    .navigation {
        margin: 0 auto;
    }

}

@media screen and (min-width: 1100px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
    
   .team-img {
     margin-top: auto;
   }
}

.nav > li > a {
    padding: 10px 12px;
    letter-spacing: 0px;
    letter-spacing: 0px;
	font-size: 0.85em;
}

.pics {
    margin-left: 50px;
    margin-right: 50px;
}

ul li {
    font-size: 1.4em;
    line-height: 1.6;
    color: #000;
}
@media (min-width: 1200px) {
  .team-img {
    margin-top: 21px;
  }
}

@media (min-width: 1300px) {
    .container {
        width: 1300px;
    }
}

ul {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
}

ul li a {
	font-size: 0.7em;
}

.classes-first {
	margin-bottom: 0px;
}

.classes-last {
	margin-top: 0px;
}

.classes-mid {
	margin-top: 0px;
	margin-bottom: 0px;
}

.reasons {
	font-size: 1.05em;
}

.photos {
	margin-left: 150px;
	margin-right: 150px;
}

.center {
	text-align: center;
}
.personal-description li {
  font-size: 1.00em;
  line-height: 2.0;
  list-style-type: none;
}
#ihsajump {
  width: 340px;
  margin-top: -10px;
}
.personal-description {
  padding-left: 0;
}
.dropdown-menu li {
  font-size: 1.6em;
}
